<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Car Rental</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<style>
	body{
	background-color: #DCDCDC;
	}
	</style>

</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Admin Management System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/}">Admin</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="container" >
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card" style="background-color: #FFFAF0;border:2px solid black;border-radius: 50px">
				<h1 class="text-center">Create New Admin</h1>
				<div class="card-body">
					<form th:action="@{/admins}" th:object="${admin}" method="POST">
						<div class="form-group">
							<label> Admin First Name </label> <input type="text"
								name="adminFirstName" th:field="*{firstName}"
								class="form-control" placeholder="Enter Admin First Name" />
						</div>

						<div class="form-group">
							<label> Admin Last Name </label> <input type="text"
								name="adminLastName" th:field="*{lastName}" class="form-control"
								placeholder="Enter Admin Last Name" />
						</div>

						<div class="form-group">
							<label> Admin Email </label> <input type="text" name="adminEmail"
								th:field="*{email}" class="form-control"
								placeholder="Enter Admin Email" />
						</div>

						<div class="form-group">
							<label> Admin Password </label> <input type="password"
								name="adminPassword" th:field="*{password}" class="form-control"
								placeholder="Enter Admin Password" />
						</div>



						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Add Admin</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>